// /** Fonts */
@font-face {
  font-family: 'Marker-Felt';
  src: url('~assets/fonts/Marker-Felt/Marker-Feltfont.ttf.woff') format('woff'), url('~assets/fonts/Marker-Felt/Marker-Feltfont.ttf.svg#Marker-Felt') format('svg'), url('~assets/fonts/Marker-Felt/Marker-Feltfont.ttf.eot'), url('~assets/fonts/Marker-Felt/Marker-Feltfont.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}