

$--color-primary: #00A740;
$--color-secondary: #E8046A;

@font-face {
  font-family: 'Marker-Felt';
  src:url('webfonts_Marker-Felt/Marker-Feltfont.ttf.woff') format('woff'),
      url('webfonts_Marker-Felt/Marker-Feltfont.ttf.svg#Marker-Felt') format('svg'),
      url('webfonts_Marker-Felt/Marker-Feltfont.ttf.eot'),
      url('webfonts_Marker-Felt/Marker-Feltfont.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

  body {
    h1, h2, h3 {
      font-family: 'Marker-Felt';
    }

    p {
      font-family: Futura;
    }
    background-color: #FFFFFF;
  }

  header {
    min-height: 300px;
    background-color: #FFFFFF;
  }

  nav {
    i {
      padding-right: 5px;
    }
  }

  .services {
    min-height: 740px;
    background-color: #FFFFFF;
    z-index: 10px
  }
  .rates {
    min-height: 350px;
    background-color: red;
  }

  .provider {
    max-width: 500px;
  }

  .about {
    min-height: 390px;
    background-color: green;
  }

  .btn-group-vertical {
    width: 100%;
    max-width: 800px;
    button {
      background-color: white;
      background-repeat: no-repeat;
      background-size: contain;
      height: 80px;
    }
  }
  .logo {
    padding: 50px 0px;
    max-width: 500px;
  }

  .card {
    border: none;
  }

  .title-container {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    background-color: #CBC5EA; //- change this color
    // -webkit-box-shadow: 0px -2px 25px 0px rgba(0,0,0,0.4);
    // -moz-box-shadow: 0px -2px 25px 0px rgba(0,0,0,0.4);
    // box-shadow: 0px -2px 25px 0px rgba(0,0,0,0.4);

    h2 {
      padding: 5px;
      text-align: center;
      color: #E8046A;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin: 0 10px;
  }