

$--color-primary: #48297c;
$--color-secondary: #9b2671;
$brand-primary: #48297c;

$theme-colors: (
  'primary': #48297c
);

@font-face {
  font-family: 'Marker-Felt';
  src:url('webfonts_Marker-Felt/Marker-Felt.ttf.woff') format('woff'),
      url('webfonts_Marker-Felt/Marker-Felt.ttf.svg#Marker-Felt') format('svg'),
      url('webfonts_Marker-Felt/Marker-Felt.ttf.eot'),
      url('webfonts_Marker-Felt/Marker-Felt.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

body {
    background-color: #f7f7f7;
  }

header {
  min-height: 300px;
  background-color: #FFFFFF;
}

.services {
  min-height: 740px;
  background-color: #EEEBD0;
}
.rates {
  min-height: 350px;
  background-color: red;
}
.about {
  min-height: 390px;
  background-color: green;
}
  
  h1, h2 {
    font-family: 'Marker-Felt';
    font-weight: normal;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin: 0 10px;
  }
  
  a {
    color: #42b983;
  }